<div class="bg-image">
    <form action="/appearance-and-fragrance" method="post">
        <div class="fragrance">
            <div class="fragrance-title">
                <span>MAGICAL SCENTS</span>
                <div class="fnc">(Pick one scent for your Magic Elixir )</div>
            </div>
            <div class="content">
                <div class="single-fragrance">
                    <input type="radio" value="atlantic air" id="1" name="fragrance" checked="checked">
                    <label for="1">Atlantic Air &#127754;
                        <div class="fdesc">The scent of ocean are waiting through dawn. Smells like ocean air with
                            seaside sand. </div>
                    </label>
                </div>
                <div class="single-fragrance">
                    <input type="radio" value="summer sky" id="2" name="fragrance">
                    <label for="2">Summer Sky &#127796;
                        <div class="fdesc">Papaya and honeydew blend with layered of coconut. Feel like heavenly summer
                            morning.</div></label>
                </div>
                <div class="single-fragrance">
                    <input type="radio" value="white tea & cactus" id="3" name="fragrance">
                    <label for="3">White Tea & Cactus &#127797;
                        <div class="fdesc">A clean, crisp and refreshing floral
                            mix with white tea notes. This is the scent of fresh and clean.</div></label>
                </div>
                <div class="single-fragrance">
                    <input type="radio" value="french lavender & vanilla" id="4" name="fragrance">
                    <label for="4">French Lavender & Vanilla &#127807;
                        <div class="fdesc">French herbal fragrance of wild
                            lavender with a hint of pure vanilla. Smells so relaxing, like being pampered at the sea.
                        </div></label>
                </div>
                <div class="single-fragrance">
                    <input type="radio" value="blooming gardenia" id="5" name="fragrance">
                    <label for="5">Blooming Gardenia &#127802;
                        <div class="fdesc">A sweet of sugar apple layered over wild gardenia blossom, freesia and sweet
                            amber.</div></label>
                </div>
            </div>
        </div>
        <div class="color ">
            <div class="color-title">
                <span>CRYSTAL AURA</span>
                <div class="fnc">(Pick one colour for your product and packaging)</div>
            </div>
            <div class="content">
                <div class="single-color">
                    <input type="radio" value="pink" id="pink" name="color" checked="checked">
                    <label for="pink"><img src="/default/img/pink.png" alt="Pink"></label>
                </div>
                <div class="single-color">
                    <input type="radio" value="biru" id="biru" name="color">
                    <label for="biru"><img src="/default/img/blue.png" alt="Blue"></label>
                </div>
                <div class="single-color">
                    <input type="radio" value="ungu" id="ungu" name="color">
                    <label for="ungu"><img src="/default/img/purple.png" alt="Purple"></label>
                </div>
                <div class="single-color">
                    <input type="radio" value="kuning" id="kuning" name="color">
                    <label for="kuning"><img src="/default/img/yellow.png" alt="Yellow"></label>
                </div>
            </div>
        </div>
        <div class="button-fnc hair-finished">
            <button type="submit">Continue</button>
        </div>
    </form>
</div>