<div class="bg-image">
    <form action="/customize" method="post">
        <div class="task">Tell Us About Your Hair Type?</div>
        <div class="section-hair choose box">
            <input type="radio" value="Straight" name="hairType" id="straight" checked="checked">
            <label for="straight">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/Straight.jpg" alt="Straight Hair">
                    </div>
                    <div class="caption">
                        Straight
                    </div>
                </div>
            </label>
            <input type="radio" value="Wavy" name="hairType" id="wavy"></input>
            <label for="wavy">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/Wavy.jpg" alt="Wavy Hair">
                    </div>
                    <div class="caption">
                        Wavy
                    </div>
                </div>
            </label>
            <input type="radio" value="Curly" name="hairType" id="curly"></input>
            <label for="curly">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/Curly.png" alt="Curly Hair">
                    </div>
                    <div class="caption">
                        Curly
                    </div>
                </div>
            </label>
        </div>
        <div class="task">Where Do You Do Most Of Your Activities?</div>
        <div class="section-activity box">
            <input type="radio" value="Indoor" name="activity" id="indoor" checked="checked">
            <label for="indoor">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/Indoor.jpg" alt="Indoor Activity">
                    </div>
                    <div class="caption">
                        Indoor
                    </div>
                </div>
            </label>
            <input type="radio" value="Outdoor" name="activity" id="outdoor"></input>
            <label for="outdoor">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/outdoor.jpg" alt="Outdoor Activity">
                    </div>
                    <div class="caption">
                        Outdoor
                    </div>
                </div>
            </label>
        </div>
        <div class="task">What Is Your Hair Moisture?</div>
        <div class="section-moisture choose box">
            <input type="radio" value="Dry" name="moisture" id="dry" checked="checked">
            <label for="dry">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/dry.png" alt="Dry Hair">
                    </div>
                    <div class="caption">
                        Dry
                    </div>
                </div>
            </label>
            <input type="radio" value="Normal" name="moisture" id="normal"></input>
            <label for="normal">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/normal.png" alt="Normal Hair">
                    </div>
                    <div class="caption">
                        Normal
                    </div>
                </div>
            </label>
            <input type="radio" value="Oily" name="moisture" id="oily"></input>
            <label for="oily">
                <div class="card">
                    <div class="picture">
                        <img src="/default/img/oily.png" alt="Oily Hair">
                    </div>
                    <div class="caption">
                        Oily
                    </div>
                </div>
            </label>
        </div>
        <div class="hair-finished">
            <button type="submit">Next</button>
        </div>
    </form>
</div>