<div class="bg-image">
    <div class="id-payment-wrapper">

        <div class="fill">
            <form action="/id-and-payment" method="post" onsubmit="check()">
                <div class="customer-id">
                    <div class="name">
                        <label for="name">Full Name</label>
                        <input type="text" name="name" id="name" placeholder="Enter Your Full Name" class="customerid"
                            required>
                    </div>
                    <div class="address">
                        <label for="province">Address</label>
                        <select name="province" id="province" class="province" required>
                            <option value="KotaSurabaya">Kota Surabaya</option>
                            <option value="KotaProbolinggo">Kota Probolinggo</option>
                            <option value="KotaPasuruan">Kota Pasuruan</option>
                            <option value="KotaMojokerto">Kota Mojokerto</option>
                            <option value="KotaMalang">Kota Malang</option>
                            <option value="KotaMadiun">Kota Madiun</option>
                            <option value="KotaKediri">Kota Kediri</option>
                            <option value="KotaBlitar">Kota Blitar</option>
                            <option value="KotaBatu">Kota Batu</option>
                            <option value="KabTulungagung">Kab. Tulungagung</option>
                            <option value="KabTuban">Kab. Tuban</option>
                            <option value="KabTrenggalek">Kab. Trenggalek</option>
                            <option value="KabSumenep">Kab. Sumenep</option>
                            <option value="KabSitubondo">Kab. Situbondo</option>
                            <option value="KabSidoarjo">Kab. Sidoarjo</option>
                            <option value="KabSampang">Kab. Sampang</option>
                            <option value="KabPonorogo">Kab. Ponorogo</option>
                            <option value="KabPasuruan">Kab. Pasuruan</option>
                            <option value="KabPamekasan">Kab. Pamekasan</option>
                            <option value="KabPacitan">Kab. Pacitan</option>
                            <option value="KabNgawi">Kab. Ngawi</option>
                            <option value="KabNganjuk">Kab. Nganjuk</option>
                            <option value="KabMagetan">Kab. Magetan</option>
                            <option value="KabLumajang">Kab. Lumajang</option>
                            <option value="KabLamongan">Kab. Lamongan</option>
                            <option value="KabJombang">Kab. Jombang</option>
                            <option value="KabJember">Kab. Jember</option>
                            <option value="KabGresik">Kab. Gresik</option>
                            <option value="KabBondowoso">Kab. Bondowoso</option>
                            <option value="KabBojonegoro">Kab. Bojonegoro</option>
                            <option value="KabBlitar">Kab. Blitar</option>
                            <option value="KabBanyuwangi">Kab. Banyuwangi</option>
                            <option value="KabBangkalan">Kab. Bangkalan</option>
                            <option value="SulawesiTenggara">Sulawesi Tenggara</option>
                            <option value="SulawesiUtara">Sulawesi Utara</option>
                            <option value="Papua">Papua</option>
                            <option value="PapuaBarat">Papua Barat</option>
                        </select>
                        <input type="text" name="address" id="address" placeholder="Enter Your Full Adress"
                            class="customerid" required>
                    </div>
                    <div class="phone">
                        <label for="phone">Phone Number</label>
                        <input type="text" name="phone" id="phone" placeholder="Enter Your Phone Number"
                            class="customerid" required>
                    </div>
                    <div class="email">
                        <label for="email">E-mail</label>
                        <input type="text" name="email" id="email" placeholder="Enter Your Email" class="customerid"
                            required>
                    </div>
                </div>
                <div class="confirm-button ">
                    <button type="submit">Confirm Payment</button>
                </div>
                <input type="radio" value="total" id="total" name="total" checked="checked">
            </form>
        </div>

        <div class="pay box">

            <div class="pricing ">
                <div class="left bold">
                    <div class="unique-code">
                        UNIQUE CODE
                    </div>
                    <div class="price">
                        PRICE
                    </div>
                </div>
                <div class="right">
                    <div class="unique-code" id="unique-code">
                        000
                    </div>
                    <div class="price" id="price">
                        Rp 0,-
                    </div>
                </div>
            </div>
            <div class="title">
                Payment Transfer
            </div>
            <div class="account">
                <img src="/default/img/BCA.png" alt="BCA">
                <div class="left">
                    <div class="bank">
                        Bank
                    </div>
                    <div class="accnumber">
                        Account Number
                    </div>
                    <div class="Receiver">
                        Receiver
                    </div>
                </div>
                <div class="right">
                    <div class="bank bold">
                        BCA
                    </div>
                    <div class="accnumber bold">
                        1234567890
                    </div>
                    <div class="receiver bold">
                        Christine Velinsya
                    </div>
                </div>
            </div>
            <div class="title">
                Confirm To
            </div>
            <div class="confirmation-number">
                <img src="/default/img/logo_whatsapp.png" alt="Whatsapp">
                <div class="left">
                    Christine Velinsya
                </div>
                <div class="right bold">
                    6281388404255
                </div>
            </div>
        </div>

    </div>

</div>