<div class="jumbotron">
    <img src="/default/img/jumbotron.jpeg" alt="">
</div>
<div class="content-wrapper">
    <div class="claim">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <div class="number-one">#1</div>
        <div class="bp">
            Customized Beauty Product in Indonesia
        </div>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="product-carousel">
        <div class="owl-carousel">
            <div class="product">
                <img src="/default/img/content1.jpeg" alt="">
                <div class="title">
                    <span>Magic Elixir</span>
                </div>
                <div class="description">
                    <span>
                        Common hair spa can not solve your
                        unique hair problem, you have to make
                        your own.
                    </span>
                </div>
            </div>
            <div class="product">
                <img src="/default/img/content2.jpeg" alt="">
                <div class="title">
                    <span>Magic Elixir</span>
                </div>
                <div class="description">
                    <span>
                        Common hair spa can not solve your
                        unique hair problem, you have to make
                        your own.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="to-start" id="to-start">
        <div class="main-title">
            <span>HOW TO CREATE YOUR MAGIC</span>
        </div>
        <div class="step">
            <div class="picture">
                <img src="/default/img/step1.jpeg" alt="First Step">
            </div>
            <div class="content">
                <div class="blue-right"></div>
                <div class="pink-right"></div>
                <div class="title">
                    <span>CREATE YOUR SPELL</span>
                </div>
                <div class="description">
                    There are over 54 trillion possible
                    formulations. Tell us a little
                    about your problem and
                    we'll find the right formulation
                    for your hair
                </div>
                <div class="button-left">
                    <button><a href="/customize"><span>Customized</span></a> </button>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="blue-left"></div>
                <div class="pink-left"></div>
                <div class="title">
                    <span>PAY AND CONFIRM</span>
                </div>
                <div class="description">
                    After successfully identifying your
                    problem, you only need to fill your identity and address at the end. Make a payment to the account
                    listed, confirm and done
                </div>
                <div class="button-right">
                    <button> <a href="/customize"><span>Take a Quiz</span></a> </button>
                </div>
            </div>
            <div class="picture move">
                <img src="/default/img/step2.jpeg" alt="First Step">
            </div>
        </div>
        <div class="step">
            <div class="picture">
                <img src="/default/img/step3.jpeg" alt="First Step">
            </div>
            <div class="content">
                <div class="blue-right"></div>
                <div class="pink-right"></div>
                <div class="title">
                    <span>FORMULATE FOR YOU</span>
                </div>
                <div class="description">
                    Our scientist will formulate
                    your "Spell" that will suit your needs,
                    hair goals and preferences.Since we formulate it unique for you, we will sent your "Spell" the day
                    after ordering
                </div>
                <div class="button-left">
                    <button><a href="/customize"><span>Customized</span></a> </button>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="blue-left"></div>
                <div class="pink-left"></div>
                <div class="title">
                    <span>GET YOUR PRODUCT</span>
                </div>
                <div class="description">
                    Your "Spell" will be
                    delivered right to your door
                    and Get Ready to
                    Achieve your Dream Hair
                </div>
                <div class="button-right">
                    <button><a href="/customize"><span>Take a Quiz</span></a> </button>
                </div>
            </div>
            <div class="picture move">
                <img src="/default/img/step4.jpeg" alt="First Step">
            </div>
        </div>

    </div>
    <div class="reviews" id="reviews">
        <div class="title">
            CUSTOMER REVIEWS
        </div>
        <div class="content ">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <!--<div class="numbertext">1 / 3</div>-->
                    <img src="/default/img/customer.jpg" style="width:100%">
                    <!--<div class="text">"Velin Beauty merupakan produk bagus" <br> - Shanty, Model</div>-->
                </div>

                <div class="mySlides fade">
                    <!--<div class="numbertext">2 / 3</div>-->
                    <img src="/default/img/customer2.jpg" style="width:100%">
                    <!--<div class="text">"Awalnya saya memiliki rambut bercabang, sejak menggunakan velin beauty
                        rambut saya menjadi lurus dan mudah diatur" - Vina, HRD Unilever</div>-->
                </div>

                <div class="mySlides fade">
                    <!--<div class="numbertext">3 / 3</div>-->
                    <img src="/default/img/customer3.jpg" style="width:100%">
                    <!--<div class="text">"Baru saja sekali pemakaian, hasilnya langsung sangat terasa" <br> -
                        Indira,
                        Pelajar</div>-->
                </div>

            </div>
            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>


    </div>

</div>