<div class="jumbotron">
    <img src="/default/img/jumbotron.jpeg" alt="">
</div>
<div class="content-wrapper">
    <div class="claim">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <div class="number-one">#1</div>
        <div class="bp">
            Customized Beauty Product in Indonesia
        </div>
        <i class="fa fa-quote-right" aria-hidden="true"></i>
    </div>
    <div class="product-carousel">
        <div class="owl-carousel">
            <div class="product">
                <img src="/default/img/content1.jpeg" alt="">
                <div class="title">
                    <span>Magic Elixir</span>
                </div>
                <div class="description pd-1">
                    <span>
                        Our customable hair spa packed with vit B
                        and vit E extract that can help you achieving your hair goals.
                    </span>
                </div>
            </div>
            <div class="product">
                <img src="/default/img/content2.jpeg" alt="">
                <div class="title">
                    <span>Magic Elixir</span>
                </div>
                <div class="description pd-2">
                    <span>
                        We used Fast Absorb Technology to our formula for extra nourish without any residue. We bring
                        salon experience to your home, but we make it more magical.
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="to-start" id="to-start">
        <div class="main-title">
            <span>HOW TO CREATE YOUR MAGIC</span>
        </div>
        <div class="step">
            <div class="picture">
                <img src="/default/img/step1.jpeg" alt="First Step">
            </div>
            <div class="content">
                <div class="blue-right"></div>
                <div class="pink-right"></div>
                <div class="title">
                    <span>CREATE YOUR SPELL</span>
                </div>
                <div class="description">
                    There are over 54 trillion possible
                    formulations. Tell us a little
                    about your problem and
                    we'll find the right formulation
                    for your hair
                </div>
                <div class="button-left">
                    <button><a href="/customize"><span>Customized</span></a> </button>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="blue-left"></div>
                <div class="pink-left"></div>
                <div class="title">
                    <span>PAY AND CONFIRM</span>
                </div>
                <div class="description">
                    After successfully identifying your
                    problem, you only need to fill your identity and address at the end. Make a payment to the account
                    listed, confirm and done
                </div>
                <div class="button-right">
                    <button> <a href="/customize"><span>Take a Quiz</span></a> </button>
                </div>
            </div>
            <div class="picture move">
                <img src="/default/img/step2.jpeg" alt="First Step">
            </div>
        </div>
        <div class="step">
            <div class="picture">
                <img src="/default/img/step3.jpeg" alt="First Step">
            </div>
            <div class="content">
                <div class="blue-right"></div>
                <div class="pink-right"></div>
                <div class="title">
                    <span>FORMULATE FOR YOU</span>
                </div>
                <div class="description">
                    Our scientist will formulate
                    your "Spell" that will suit your needs,
                    hair goals and preferences.Since we formulate it unique for you, we will sent your "Spell" the day
                    after ordering
                </div>
                <div class="button-left">
                    <button><a href="/customize"><span>Formulized</span></a> </button>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="content">
                <div class="blue-left"></div>
                <div class="pink-left"></div>
                <div class="title">
                    <span>GET YOUR PRODUCT</span>
                </div>
                <div class="description">
                    Your "Spell" will be
                    delivered right to your door
                    and Get Ready to
                    Achieve your Dream Hair
                </div>
                <div class="button-right">
                    <button><a href="/customize"><span>Get Started</span></a> </button>
                </div>
            </div>
            <div class="picture move">
                <img src="/default/img/step4.jpeg" alt="First Step">
            </div>
        </div>

    </div>
    <div class="reviews" id="reviews">
        <div class="title">
            CUSTOMER REVIEWS
        </div>
        <div class="content ">
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <!--<div class="numbertext">1 / 3</div>-->
                    <img src="/default/img/customer1.jpeg" style="width:100%">
                    <div class="text">"Rambut saya kering, bergelombang dari lahir, dan sering rontok. Saya menambahkan
                        keratin di formula saya, dari pertama pemakaian rambut saya terlihat lebih lurus, sangat halus,
                        dan tidak rontok ketika disisir." <br> -
                        Fenny Juliet, Pelajar</div>
                </div>

                <div class="mySlides fade">
                    <!--<div class="numbertext">2 / 3</div>-->
                    <img src="/default/img/customer2.jpeg" style="width:100%">
                    <div class="text">"Awalnya saya sering gonta-ganti warna dan model rambut, terakhir saya ke salon
                        untuk curly permanent, rambut saya rusak parah. Iseng-iseng coba Magic Elixir ternyata cocok.
                        Setelah 3X pemakaian rambut saya tidak mudah patah, rambut bercabang juga mulai berkurang, tidak
                        mudah rontok" - Winda, Ibu Rumah Tangga</div>
                </div>

                <div class="mySlides fade">
                    <!--<div class="numbertext">3 / 3</div>-->
                    <img src="/default/img/customer3.jpeg" style="width:100%">
                    <div class="text">"Saya bekerja di outdoor, rambut saya juga suka diwarnai dan dicatok, dulu sebelum
                        banyak pekerjaan, saya sering Hair Spa di salon langganan. Pakai produk Hair Spa Velin Beauty
                        hasilnya kayak pergi ke salon. Halusnya berhari-hari padahal saya sering diluar. Rambut saya
                        juga tidak gampang rusak setelah dicatok berkali-kali. Ujung-ujung rambut saya jadi lembut dan
                        tidak kasar" <br> -
                        Serena, Assisten Enginer</div>
                </div>
                <div class="mySlides fade">
                    <!--<div class="numbertext">3 / 3</div>-->
                    <img src="/default/img/customer4.jpeg" style="width:100%">
                    <div class="text">"Rambutku tipis, sering kusut padahal baru disisir, dan gampang berminyak. Sulit
                        kalau mau cari perawatan rambut, aku harus pakai 2 jenis kondisioner. Baru mulai pakai dari
                        minggu kemarin, rambut aku jadi gampang diatur, gak sering kusut. Baby hair juga mulai tumbuh,
                        padahal baru 2X pemakaian. Kadar minyak di kulit kepala mulai berkurang. Aromanya gak strong,
                        nyaman di aplikasikan. " <br> -
                        Clarita, Pelajar</div>
                </div>
                <div class="mySlides fade">
                    <!--<div class="numbertext">3 / 3</div>-->
                    <img src="/default/img/customer5.jpeg" style="width:100%">
                    <div class="text">"Suka sama teksturnya, cepat meresap ke rambut. Aku pribadi kurang suka sama hair
                        mask/hair spa yang sulit dibilas dan licin. Keratinnya bagus banget, rambut aku lurus permanen
                        setelah habis 1 jar. Biasanya produk lain halusnya cuma sehari, Magic Elixir dirambut aku sampai
                        3 harian masih halus. Ini jar kedua aku, suka sama hasilnya. " <br> -
                        Styllia, Pekerja Kantoran</div>
                </div>

            </div>

            <br>

            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>


    </div>

</div>