<div class="bg-image">
    <div class="bg-image">
        <form action="/solve" method="POST">
            <div class="hp-title">Choose Three of Your hair Problems </div>
            <div class="hp-subtitle">(Choose One Minimum) </div>
            <div class="problem-box">
                <div class="problem-box3">

                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem1" value="hair loss" checked="true">
                        <label for="problem1"> <span class="problem-en">Hair Loss</span> <br> (Rambut rontok)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem2" value="dandruff">
                        <label for="problem2"><span class="problem-en">Dandruff </span><br> (Ketombe)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem3" value="oily/greasy hair">
                        <label for="problem3"><span class="problem-en">Oily/Greasy Hair </span> <br> (Rambut
                            berminyak)</label>
                    </div>

                </div>
                <div class="problem-box2">
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem4" value="color damaged hair">
                        <label for="problem4"> <span class="problem-en">Color Damaged Hair</span> <br> (Rambut rusak
                            karena pewarnaan)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem5" value="heat protection">
                        <label for="problem5"><span class="problem-en">Heat Protection</span> <br> (Proteksi untuk
                            rambut yang sering dicatok)</label>
                    </div>
                </div>
                <div class="problem-box3">

                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem8" value="spit ends">
                        <label for="problem8"><span class="problem-en">Spit Ends </span><br> (Bercabang)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem9" value="dull hair">
                        <label for="problem9"><span class="problem-en">Dull Hair</span> <br> (Rambut kusam)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem10" value="damage hair">
                        <label for="problem10"><span class="problem-en">Damaged Hair</span> <br> (Rambut rusak)</label>
                    </div>
                </div>
                <div class="problem-box2">
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem6" value="limp hair">
                        <label for="problem6"><span class="problem-en">Limp Hair</span> <br> (Rambut lepek)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem7" value="frangible hair">
                        <label for="problem7"><span class="problem-en">Frangible Hair</span> <br> (Rambut mudah
                            patah)</label>
                    </div>
                </div>
                <div class="problem-box3">
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem11" value="oily and coarse hair">
                        <label for="problem11"><span class="problem-en">Dry and Coarse Hair</span> <br> (Rambut Kering
                            dan kasar)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem12" value="lack of hair growth">
                        <label for="problem12"><span class="problem-en">Lack of Hair Growth</span> <br> (Pertumbuhan
                            rambut lambat)</label>
                    </div>
                    <div class="problem-single-box">
                        <input type="checkbox" name="problems" id="problem13" value="tangled hair">
                        <label for="problem13"><span class="problem-en">Tangled Hair</span> <br> (Kusut dan sulit
                            diatur)</label>
                    </div>
                </div>
            </div>
            <div class="keratin-box">
                <input type="checkbox" id="keratin" name="keratin">
                I'd like to add Keratin to my formula
            </div>
            <div class="keratin-formula">Our Keratin formula is perfect for straightening and extra smoothing for wavy
                hair.
                Permanent results are seen after three times of use. It's perfect for you who want straight hair without
                chemical procedure. <br>
                <div class="kf-center">Additional Fee + 10.000,-</div>
            </div>
            <div class="hair-finished">
                <button type="submit">CONTINUE</button>
            </div>

        </form>
    </div>
</div>