<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velin Beauty</title>
    <link rel="shortcut icon" href="/default/img/16x16.ico" />
    <link rel="stylesheet" href="/default/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/default/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/default/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>


</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <nav class="left">
                <ul>
                    <li><a href="/default/index.html">Home</a></li>
                    <li><a href="#">Customized</a></li>
                </ul>
            </nav>
            <div class="logo">
                <a href="/default/index.html"><img src="/default/img/logo.png" alt="Velin Beauty"></a>
            </div>
            <nav class="right">
                <ul>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">How to Start</a></li>
                </ul>
            </nav>
            <div class="menu-toggle" id="hamburger">
                <a href="javascript:void(0);" class="icon" onclick="toggle()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="overlay "></div>
            <nav class="full" id="nav">
                <ul>
                    <li><a href="/default/index.html">Home</a></li>
                    <li><a href="#">Customized</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li><a href="#">How to Start</a></li>
                </ul>
            </nav>
        </div>
        <div class="jumbotron">
            <img src="/default/img/jumbotron.png" alt="">
        </div>
        <div class="content-wrapper">
            <div class="claim">
                <span>#1 Customized Hair Beauty Product in Indonesia</span>
            </div>
            <div class="product-carousel">
                <div class="owl-carousel">
                    <div class="product">
                        <img src="/default/img/content1.jpg" alt="">
                        <div class="title">
                            <span>Magic Elixir</span>
                        </div>
                        <div class="description">
                            <span>
                                Common hair spa can not solve your
                                unique hair problem, you have to make
                                your own.
                            </span>
                        </div>
                    </div>
                    <div class="product">
                        <img src="/default/img/content2.jpg" alt="">
                        <div class="title">
                            <span>Magic Elixir</span>
                        </div>
                        <div class="description">
                            <span>
                                Common hair spa can not solve your
                                unique hair problem, you have to make
                                your own.
                            </span>
                        </div>
                    </div>
                    <div class="product">
                        <img src="/default/img/content3.jpg" alt="">
                        <div class="title">
                            <span>Magic Elixir</span>
                        </div>
                        <div class="description">
                            <span>
                                Common hair spa can not solve your
                                unique hair problem, you have to make
                                your own.
                            </span>
                        </div>
                    </div>
                    <div class="product">
                        <img src="/default/img/content4.jpg" alt="">
                        <div class="title">
                            <span>Magic Elixir</span>
                        </div>
                        <div class="description">
                            <span>
                                Common hair spa can not solve your
                                unique hair problem, you have to make
                                your own.
                            </span>
                        </div>
                    </div>
                    <div class="product">
                        <img src="/default/img/content5.jpg" alt="">
                        <div class="title">
                            <span>Magic Elixir</span>
                        </div>
                        <div class="description">
                            <span>
                                Common hair spa can not solve your
                                unique hair problem, you have to make
                                your own.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
    <script src="/default/js/jquery.js"></script>
    <script src="/default/js/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="/default/js/index.js"></script>
</body>

</html>