body {
    font-family: 'Montserrat';
}

.main-wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/*header*/
.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    z-index: 2;
    background-color: rgb(243, 144, 197, 0.27);
}

.header .full {
    display: none;
}

.header .menu-toggle {
    display: none;
}

.header .logo {
    text-align: center;
}

.header .logo img {
    cursor: pointer;
    width: 9em;
    margin-top: -1em;
    transform: translateX(-100rem);
    animation: slideIn 2.5s forwards;
}

.header .left,
.header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1em;
}

.header ul {
    display: flex;
}

.header .right li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.header .left li {
    list-style: none;
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.header .left li:nth-child(1) {
    animation-delay: 0s;
}

.header .left li:nth-child(2) {
    animation-delay: .5s;
}

.header .right li:nth-child(1) {
    animation-delay: 1s;
}

.header .right li:nth-child(2) {
    animation-delay: 1.5s;
}

.header .left a,
.header .right a {
    margin-right: 2em;
    margin-left: 2em;
    letter-spacing: 2px;
}

.header .right a::before,
.header .right a::after,
.header .left a::before,
.header .left a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

.header .right a:hover::before,
.header .right a:hover::after,
.header .left a:hover::before,
.header .left a:hover::after {
    transform: scaleX(1);
}

.header .left a::before {
    top: -1em;
    transform-origin: left;
}

.header .left a::after {
    bottom: -1em;
    transform-origin: right;
}

.header .right a::before {
    top: -0.9em;
    transform-origin: left;
}

.header .right a::after {
    bottom: -1em;
    transform-origin: right;
}

.overlay {
    background-color: #C182B7;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
    z-index: -1000;
}

.header .full ul {
    display: flex;
}

.header .full li {
    list-style: none;
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.header .full li:nth-child(1) {
    animation-delay: 0s;
}

.header .full li:nth-child(2) {
    animation-delay: 0.5s;
}

.header .full li:nth-child(3) {
    animation-delay: 1s;
}

.header .full li:nth-child(4) {
    animation-delay: 1.5s;
}

.header .full a {
    padding: 1rem 0;
    margin: 0 3rem;
    position: relative;
    letter-spacing: 2px;
    font-weight: bold;
}

.header .full a::before,
.header .full a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: red;
    left: 0;
    transform: scaleX(0);
    transition: all .5s;
}

.header .full a::before {
    top: 0;
    transform-origin: left;
}

.header .full a::after {
    bottom: 0;
    transform-origin: right;
}

.header .full a:hover::before,
.header .full a:hover::after {
    transform: scaleX(1);
}

/*jumbotron*/
.jumbotron {
    z-index: 1;
    margin-top: -8.5em;
    margin-bottom: -0.5em;
}

.jumbotron img {
    max-width: 100%;
}

/*claim*/
.claim {
    text-align: center;
    padding: 3em 0;
    font-size: 200%;
    font-weight: 900;
    color: purple;
    margin: 0 30%;
    /*text-decoration: underline;*/
}

.claim .fa-quote-left {
    font-size: 0.5em;
    position: absolute;
    left: 25%;
}

.claim .fa-quote-right {
    font-size: 0.5em;
    position: absolute;
    right: 25%;
}

/*Content*/
.content-wrapper {
    background-image: url(../img/background.png);
    height: 580vh;
    background-repeat: no-repeat;
    max-width: 100%;
    overflow: hidden;
}

/*Product Carousel*/

.product-carousel {}

.product {
    margin: 0 2em;
}

.product .title {
    position: absolute;
    padding-right: 38.5%;
    top: 10%;
    left: 3%;
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.product .description {
    position: absolute;
    top: 20%;
    left: 3%;
    color: white;
    background-color: rgb(243, 144, 197, 0.27);
    padding: 2em;
}

.owl-dot.active {
    background-color: #ff5257 !important;
}

.owl-dots {
    text-align: center;
}

.owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    opacity: 0.8;
    background-color: rgb(236, 138, 138) !important;
    border-radius: 50%;
    margin: 50px 5px 0;
}

.product img {
    height: 30em;
}

.to-start {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5em;
}

.to-start .main-title {
    text-align: center;
    font-size: 300%;
    margin: 2em;
    font-weight: 900;
    letter-spacing: 10px;
    color: purple;
}

.to-start .step {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.to-start .picture {
    text-align: center;
}

.to-start .picture img {
    width: 70%;
}

.to-start .step .title {
    font-size: 200%;
    padding: 2em;
    font-weight: bold;
    letter-spacing: 5px;
    color: purple;
}

.to-start .description {
    font: 150%;
    margin: 0 4em;
}

.to-start .blue-right {
    width: 400px;
    height: 125px;
    background-color: skyblue;
    position: absolute;
    margin-top: 2em;
    z-index: -2;
}

.to-start .pink-right {
    width: 325px;
    height: 300px;
    background-color: pink;
    left: 70%;
    position: absolute;
    margin-top: 8em;
    z-index: -1;
}

.to-start .blue-left {
    width: 400px;
    height: 125px;
    background-color: skyblue;
    position: absolute;
    margin-top: 2em;
    left: 15%;
    z-index: -2;
}

.to-start .pink-left {
    width: 325px;
    height: 300px;
    background-color: pink;
    position: absolute;
    left: 3%;
    margin-top: 8em;
    z-index: -1;

}


.to-start .button-right button,
.to-start .button-left button {
    display: inline-block;
    /*border-radius: 4px;*/
    background-color: purple;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    padding: 1em;
    width: 10em;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 2em;
}


.to-start .button-right button {
    margin-left: 6em;
}

.to-start .button-left button {
    margin-left: 8em;
}

.to-start .button-right button span,
.to-start .button-left button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.to-start .button-right button span:after,
.to-start .button-left button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.to-start .button-right button:hover span,
.to-start .button-left button:hover span {
    padding-right: 25px;
}

.to-start .button-right button:hover span:after,
.to-start .button-left button:hover span:after {
    opacity: 1;
    right: 0;
}

.reviews {
    margin-top: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reviews .title {
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 5px;
    color: purple;
    text-align: center;
    padding-top: 25%;
    background-color: rgb(243, 144, 197, 0.5);
    margin-bottom: 0.775em;
}

.reviews .content {
    width: 100%;
    margin: auto;
}

.reviews img {
    max-width: 100%;
}

.reviews .customer-carousel {
    display: flex;
    width: 100%;
}

.mySlides {
    display: none;
}

.slideshow-container img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgb(243, 144, 197, 0.1);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


.footer {
    background-color: rgb(243, 144, 197, 0.8);
    padding: 2em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer .title {
    color: purple;
    font-size: 1.2em;
}

.footer ul {
    margin-left: -12%;
}


.footer .footer-social .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0px;
    margin-top: 1em;
}


@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes slideIn {
    from {}

    to {
        transform: translateX(0);
    }
}

@media(max-width:1200px) {
    .header .right a::after {
        bottom: 0.2em;
    }

    .header .full {
        display: none;
    }
}

@media(max-width:1000px) {

    .header {
        grid-template-columns: 1fr 1fr;
    }

    .header .logo {
        text-align: left;
    }

    .header .left,
    .header .right {
        display: none;
    }

    .header .full {
        display: block;
    }

    .header ul {
        display: block;
    }

    .header .menu-toggle {
        display: block;
    }

    .header .menu-toggle i {
        float: right;
        font-size: 2em;
        padding-right: 1em;
        padding-top: 1em;
        color: white;
        cursor: pointer;
        /*ganti*/
    }

    .header .full {
        padding-top: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        grid-column: 1/3;
        height: 100vh;
        display: none;
    }

    .header .full ul {
        flex-direction: column;
    }

    .header .full li {
        display: block;
        margin-top: 5em;
    }

    .menu-open {
        display: flex;
        transform: scale(1);
        opacity: 1;
    }

    .header .logo img {
        width: 7em;
    }

    .header {
        background-color: transparent;
    }

    .jumbotron {
        margin-top: -7em;
    }

    .claim {
        font-size: 150%;
    }

    .reviews {
        margin-top: 5em;
    }

    .reviews .title {
        margin-bottom: 0.775em;
        padding-top: 0;
        background-color: transparent;
    }

    .content-wrapper {
        height: 800vh;
        /*735vh;*/
    }
}

@media(max-width:700px) {

    /*Header*/
    .header .menu-toggle i {
        font-size: 1.5em;
    }

    .claim {
        font-size: 100%;
        letter-spacing: 2px;
    }

    .owl-dot {
        height: 7px !important;
        width: 7px !important;
    }

    .to-start .step {
        grid-template-columns: 1fr;
        grid-gap: 1em;
    }

    .to-start .move {
        grid-row: 1/2;
    }

    .blue-right,
    .blue-left,
    .pink-right,
    .pink-left {
        display: none;
    }

    .to-start .main-title {
        font-size: 200%;
        margin: 0 2em;
        letter-spacing: 3px;
        margin-top: 1em;
    }

    .to-start .button-right button,
    .to-start .button-left button {
        font-size: 1em;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 3em;
        width: 70%;
    }

    .reviews {
        grid-template-columns: 1fr;
    }

    .reviews .title {
        font-size: 2em;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }

    .footer .footer-resources {
        grid-column: 1/2;
    }

    .footer .footer-contact {
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media(max-width:450px) {

    .header .menu-toggle i {
        font-size: 1.5em;
    }

    .header .logo img {
        width: 5em;
        padding-top: 0.5em;
        animation: slideIn 1s forwards;
    }

    /*jumbotron*/
    .jumbotron {
        margin-top: -5em;
    }

    .claim {
        font-size: 80%;
        margin: 10% 15%;
    }

    .claim .fa-quote-left {
        position: absolute;
        left: 11%;
        font-size: 1em;
    }

    .claim .fa-quote-right {
        position: absolute;
        right: 11%;
        font-size: 1em;
    }

}

@media(max-width:300px) {}