<div class="footer">
    <div class="footer-product">
        <div class="title">
            PRODUCTS
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="#">Hair Spa</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-resources">
        <div class="title">
            RESOURCES
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Policy</a>
                </li>
                <li>
                    <a href="#">Agreement</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-social">
        <div class="title">
            SOCIAL
        </div>
        <div class="content">
            <a href="#"><img src="/default/img/instagram.png" alt="instagram"></a>
            <a href="#"><img src="/default/img/shopee.png" alt="shopee"></a>
            <a href="#"><img src="/default/img/tokopedia.png" alt="tokopedia"></a>
        </div>
    </div>

    <div class="footer-contact">
        <button><a href="https://wa.me/6281388404255"><img src="/default/img/whatsapp.png" alt=""> CONTACT
                US</a></button>
    </div>

    <div class="copyright">
        Copyright © 2020, Velin Beauty. All Rights Reserved.
    </div>

</div>
</div>

<script src="/default/js/jquery.js"></script>
<script>
    $(document).ready(function () {
        $("select.province").change(function () {
            var province = $(this).children("option:selected").val();
            var price = 0;
            if (province == 'JawaTimur') {
                price = 250000;
            } else if (province == 'JawaTengah') {
                price = 275000;
            } else if (province == 'JawaBarat') {
                price = 300000;
            } else {
                price = 350000;
            }
            var number = 0;
            var digits = '';

            for (i = 0; i < 3; i++) {
                number = Math.floor(Math.random() * 10);
                digits = digits + number.toString();
            }
            digits = parseInt(digits)
            total = price + digits
            document.getElementById("total").value = total.toString();
            $('#unique-code').empty().append(digits);
            $('#price').empty().append('Rp ' + total);
        });
    });
</script>
<script src="/default/js/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="/default/js/index.js"></script>
</body>

</html>