<div class="footer">
    <div class="footer-product">
        <div class="title">
            PRODUCTS
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="#">Hair Spa</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-resources">
        <div class="title">
            RESOURCES
        </div>
        <div class="content">
            <ul>
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">Policy</a>
                </li>
                <li>
                    <a href="#">Agreement</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-social">
        <div class="title">
            SOCIAL
        </div>
        <div class="content">
            <a href="https://www.instagram.com/velinbeautyid/?igshid=1iss76784g498"><img
                    src="/default/img/instagram.png" alt="instagram"></a>
            <a href="#"><img src="/default/img/shopee.png" alt="shopee"></a>
            <a href="#"><img src="/default/img/tokopedia.png" alt="tokopedia"></a>
        </div>
    </div>

    <div class="footer-contact">
        <button><a href="https://wa.me/628973991345?text=Halo%20Admin,%20saya%20mau%20bertanya..."><img
                    src="/default/img/whatsapp.png" alt=""> CONTACT
                US</a></button>
    </div>

    <div class="copyright">
        Copyright © 2020, Velin Beauty. All Rights Reserved.
    </div>

</div>
</div>

<script src="/default/js/jquery.js"></script>
<script>
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toGMTString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    $(document).ready(function () {
        var keratin;
        $("#keratin").change(function () {
            keratin = $(this).prop("checked");
            setCookie("keratin", keratin, 30);
        });

        $('select.province').change(function () {
            var province = $(this).children("option:selected").val();
            var JawaTimur = document.getElementById("JawaTimur");
            var JawaBarat = document.getElementById("JawaBarat");
            var JawaTengah = document.getElementById("JawaTengah");
            var DKIJakarta = document.getElementById("DKIJakarta");
            var DIY = document.getElementById("DIY");
            var Banten = document.getElementById("Banten");
            var Bali = document.getElementById("Bali");
            if (province == 'JawaTimur') {
                JawaTimur.style.display = "block";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "none";
                DIY.style.display = "none";
                Banten.style.display = "none";
                Bali.style.display = "none";
            } else if (province == 'JawaTengah') {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "block";
                DKIJakarta.style.display = "none";
                Banten.style.display = "none";
                DIY.style.display = "none";
                Bali.style.display = "none";
            } else if (province == 'DKIJakarta') {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "block";
                DIY.style.display = "none";
                Banten.style.display = "none";
                Bali.style.display = "none";
            } else if (province == 'DIY') {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "none";
                DIY.style.display = "block";
                Banten.style.display = "none";
                Bali.style.display = "none";
            } else if (province == 'Banten') {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "none";
                DIY.style.display = "none";
                Banten.style.display = "block";
                Bali.style.display = "none";
            } else if (province == 'Bali') {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "none";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "none";
                DIY.style.display = "none";
                Banten.style.display = "none";
                Bali.style.display = "block";
            } else {
                JawaTimur.style.display = "none";
                JawaBarat.style.display = "block";
                JawaTengah.style.display = "none";
                DKIJakarta.style.display = "none";
                DIY.style.display = "none";
                Banten.style.display = "none";
                Bali.style.display = "none";
            }
        });

        $("select.city").change(function () {
            var keratin_ = getCookie("keratin");
            var city = $(this).children("option:selected").val();
            var bool_value = keratin_ == "true" ? true : false;
            var price = 0;
            if (bool_value == true) {
                price = 120000;
            } else {
                price = 110000;
            }
            if (city == 'KotaSurabaya') {
                price += 8000;
            } else if (city == 'KotaProbolinggo' |
                city == 'KotaPasuruan' |
                city == 'KotaMalang' |
                city == 'KotaMojokerto' |
                city == 'KotaMadiun' |
                city == 'KotaKediri' |
                city == 'KotaBlitar' |
                city == 'KotaBatu' |
                city == 'KabTulungagung' |
                city == 'KabTuban' |
                city == 'KabTrenggalek' |
                city == 'KabSumenep' |
                city == 'KabSitubondo' |
                city == 'KabSidoarjo' |
                city == 'KabSampang' |
                city == 'KabPonorogo' |
                city == 'KabPasuruan' |
                city == 'KabPamekasan' |
                city == 'KabPacitan' |
                city == 'KabNgawi' |
                city == 'KabNganjuk' |
                city == 'KabMagetan' |
                city == 'KabLumajang' |
                city == 'KabLamongan' |
                city == 'KabJombang' |
                city == 'KabJember' |
                city == 'KabGresik' |
                city == 'KabBondowoso' |
                city == 'KabBojonegoro' |
                city == 'KabBlitar' |
                city == 'KabBanyuwangi' |
                city == 'KabBangkalan') {
                price += 14000;
            } else if (city == 'KotaBandung' |
                city == 'KotaBekasi' |
                city == 'KotaDepok' |
                city == 'KotaTasikmalaya' |
                city == 'KotaBogor' |
                city == 'KotaCimahi') {
                price += 20000;
            } else if (
                city == 'KabCiamis' |
                city == 'KabCirebon' |
                city == 'KabCianjur' |
                city == 'KabGarut' |
                city == 'KabIndramayu' |
                city == 'KabKarawang' |
                city == 'KabKuningan' |
                city == 'KabMajalengka' |
                city == 'KabPangandaran' |
                city == 'KabPurwakarta' |
                city == 'KabSubang' |
                city == 'KabSukabumi' |
                city == 'KabSumedang' |
                city == 'KotaMagelang' |
                city == 'KotaPekalongan' |
                city == 'KotaSalatiga' |
                city == 'KotaSemarang' |
                city == 'KotaSurakarta' |
                city == 'KabBlora' |
                city == 'KabBanjarnegara' |
                city == 'KabBanyumas' |
                city == 'KabBatang' |
                city == 'KabBoyolali' |
                city == 'KabBrebes' |
                city == 'KabCilacap' |
                city == 'KabDemak' |
                city == 'KabGrobogan' |
                city == 'KabJepara' |
                city == 'KabKaranganyar' |
                city == 'KabKebumen' |
                city == 'KabKendal' |
                city == 'KabKlaten' |
                city == 'KabKudus' |
                city == 'KabMagelang' |
                city == 'KabPati' |
                city == 'KabPekalongan' |
                city == 'KabPemalang' |
                city == 'KabPurbalingga' |
                city == 'KabPurworejo' |
                city == 'KabRembang' |
                city == 'KabSragen' |
                city == 'KabSukoharjo' |
                city == 'KabTegal') {
                price += 24000;
            } else if (city == 'KabBadung' |
                city == 'KabBangli' |
                city == 'KabBuleleng' |
                city == 'KabGianyar' |
                city == 'KabJembrana' |
                city == 'KabKarangasem' |
                city == 'KabKlungklung' |
                city == 'KabTabanan' |
                city == 'KotaDenpasar'
            ) {
                price += 25000;
            } else if (city == 'JakartaTimur' |
                city == 'JakartaPusat' |
                city == 'JakartaBarat' |
                city == 'JakartaSelatan' |
                city == 'JakartaUtara' |
                city == 'KotaYogyakarta') {
                price += 15000;
            } else if (city == 'KabTemanggung' |
                city == 'KabWonogiri' |
                city == 'KabWonosobo' |
                city == 'KabLebak' |
                city == 'KabPandeglang' |
                city == 'KabSerang') {
                price += 29000;
            } else if (city == 'KotaCilegon' |
                city == 'KotaSerang' |
                city == 'KotaTangerang' |
                city == 'KotaTangerangSelatan' |
                city == 'KabSleman') {
                price += 20000;
            } else if (city == 'KabBantul' |
                city == 'KabGunungKidul' |
                city == 'KabKulonProgo') {
                price += 23000;
            } else {
                price = 0;
            }
            var number = 0;
            var digits = '';

            for (i = 0; i < 2; i++) {
                number = Math.floor(Math.random() * 10);
                digits = digits + number.toString();
            }
            digits = parseInt(digits)
            total = price + digits
            document.getElementById("total").value = total.toString();
            $('#unique-code').empty().append(digits);
            $('#price').empty().append('Rp ' + total);
        });
    });
</script>
<script src="/default/js/owl.carousel.min.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="/default/js/index.js"></script>
</body>

</html>