<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velin Beauty</title>
    <link rel="shortcut icon" href="/default/img/16x16.ico" />
    <link rel="stylesheet" href="/default/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/default/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/default/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Cinzel Decorative' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Libre Baskerville' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Crimson Text' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Sawarabi Mincho' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Old Standard TT' rel='stylesheet'>
</head>