<body>
    <div class="loader">
        <img src="https://i.pinimg.com/originals/e0/7f/6a/e07f6af981d70eb773e6b7d7f1899936.gif" alt="Loading..." />
    </div>
    <div class="main-wrapper">
        <div class="header">
            <nav class="left">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/customize">Customized</a></li>
                </ul>
            </nav>
            <div class="logo">
                <a href="/"><img src="/default/img/logo.png" alt="Velin Beauty"></a>
            </div>
            <nav class="right">
                <ul>
                    <li><a href="#reviews" class="scrollLink">Reviews</a></li>
                    <li><a href="#to-start" class="scrollLink">How to Start</a></li>
                </ul>
            </nav>
            <div class="menu-toggle" id="hamburger">
                <a href="javascript:void(0);" class="icon" onclick="toggle()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="overlay "></div>
            <nav class="full" id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/customize">Customized</a></li>
                    <li><a href="#reviews" class="scrollLinkmobile">Reviews</a></li>
                    <li><a href="#to-start" class="scrollLinkmobile">How to Start</a></li>
                </ul>
            </nav>
        </div>